This dataset contains information of used cars that were in the classified section of the German eBay website.

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv("autos.csv",encoding="Latin-1")

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Most columns contain objects, and looks like we will need to change some formatting, to make this dataset ready to use. There are also some rows that are missing some information, and will have to most likely remove some rows.

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

In [7]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [8]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

Column names were changed to snakecase in order ot make it more readable, since the original column names were written in camelcase.

In [9]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [10]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null object
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_PS              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [11]:
autos.price = autos.price.str.replace("$","").str.replace(",","")
autos.price = autos.price.astype(int)
autos.price.unique()

array([ 5000,  8500,  8990, ...,   385, 22200, 16995])

In [12]:
autos.odometer = autos.odometer.str.replace("km","").str.replace(",","")
autos.odometer = autos.odometer.astype(int)
autos.odometer.unique()

array([150000,  70000,  50000,  80000,  10000,  30000, 125000,  90000,
        20000,  60000,   5000, 100000,  40000])

In [13]:
autos.rename({"odometer":"odometer_km"},axis=1,inplace=True)
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [14]:
autos.price.unique().shape

(2357,)

In [15]:
autos.price.describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [16]:
autos.price.head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [17]:
autos.price.value_counts(ascending=True)

33980        1
2895         1
846          1
8970         1
20790        1
6495         1
686          1
4780         1
41850        1
27299        1
16998        1
47499        1
86500        1
4510         1
2479         1
151990       1
69900        1
2671         1
238          1
910          1
9130         1
17830        1
188          1
4286         1
3279         1
7373         1
21700        1
13480        1
29600        1
46200        1
          ...
1999       322
1600       327
350        335
1250       335
5500       340
1800       355
550        356
3000       365
1300       371
1100       376
950        379
2200       382
300        384
4500       394
700        395
850        410
650        419
900        420
750        433
999        434
2000       460
3500       498
800        498
600        531
1200       639
1000       639
2500       643
1500       734
500        781
0         1421
Name: price, Length: 2357, dtype: int64

In [18]:
autos.price.value_counts(ascending=False)

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price, Length: 2357, dtype: int64

In [19]:
autos = autos[autos['price'].between(0,100000)]
autos.price.unique()

array([ 5000,  8500,  8990, ...,   385, 22200, 16995])

In [20]:
autos.odometer_km.describe()

count     49947.000000
mean     125801.549643
std       39966.521087
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [21]:
autos.odometer_km.value_counts(ascending=False)

150000    32413
125000     5167
100000     2166
90000      1757
80000      1435
70000      1230
60000      1162
50000      1023
5000        957
40000       817
30000       783
20000       776
10000       261
Name: odometer_km, dtype: int64

In [22]:
autos = autos[autos['odometer_km'].between(0,130000)]
autos.odometer_km.describe()

count     17534.000000
mean      81068.780655
std       38296.342925
min        5000.000000
25%       50000.000000
50%       90000.000000
75%      125000.000000
max      125000.000000
Name: odometer_km, dtype: float64

In [23]:
autos[['date_crawled','ad_created','last_seen']].head(10)

           date_crawled           ad_created            last_seen
2   2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3   2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
12  2016-03-31 19:48:22  2016-03-31 00:00:00  2016-04-06 14:17:52
15  2016-04-01 12:06:20  2016-04-01 00:00:00  2016-04-02 21:10:48
22  2016-03-28 20:50:54  2016-03-28 00:00:00  2016-04-01 06:45:30
24  2016-04-03 11:57:02  2016-04-03 00:00:00  2016-04-07 13:16:50
26  2016-04-03 22:46:28  2016-04-03 00:00:00  2016-04-05 23:46:48
37  2016-03-23 16:47:46  2016-03-23 00:00:00  2016-04-05 20:17:53
38  2016-03-21 15:51:10  2016-03-21 00:00:00  2016-03-28 12:16:06
42  2016-03-22 21:37:03  2016-03-22 00:00:00  2016-04-06 18:44:39

In [24]:
autos.date_crawled.str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.028516
2016-03-06    0.013288
2016-03-07    0.034675
2016-03-08    0.030911
2016-03-09    0.031197
2016-03-10    0.032679
2016-03-11    0.033193
2016-03-12    0.038097
2016-03-13    0.016482
2016-03-14    0.036672
2016-03-15    0.032109
2016-03-16    0.029143
2016-03-17    0.029885
2016-03-18    0.013060
2016-03-19    0.038782
2016-03-20    0.038154
2016-03-21    0.035246
2016-03-22    0.032451
2016-03-23    0.030740
2016-03-24    0.029999
2016-03-25    0.030968
2016-03-26    0.032907
2016-03-27    0.031767
2016-03-28    0.035189
2016-03-29    0.036101
2016-03-30    0.032850
2016-03-31    0.031710
2016-04-01    0.035759
2016-04-02    0.036501
2016-04-03    0.040892
2016-04-04    0.033649
2016-04-05    0.012148
2016-04-06    0.002395
2016-04-07    0.001882
Name: date_crawled, dtype: float64

In [25]:
autos.date_crawled.str[:10].value_counts(normalize=True,dropna=False).sort_values()

2016-04-07    0.001882
2016-04-06    0.002395
2016-04-05    0.012148
2016-03-18    0.013060
2016-03-06    0.013288
2016-03-13    0.016482
2016-03-05    0.028516
2016-03-16    0.029143
2016-03-17    0.029885
2016-03-24    0.029999
2016-03-23    0.030740
2016-03-08    0.030911
2016-03-25    0.030968
2016-03-09    0.031197
2016-03-31    0.031710
2016-03-27    0.031767
2016-03-15    0.032109
2016-03-22    0.032451
2016-03-10    0.032679
2016-03-30    0.032850
2016-03-26    0.032907
2016-03-11    0.033193
2016-04-04    0.033649
2016-03-07    0.034675
2016-03-28    0.035189
2016-03-21    0.035246
2016-04-01    0.035759
2016-03-29    0.036101
2016-04-02    0.036501
2016-03-14    0.036672
2016-03-12    0.038097
2016-03-20    0.038154
2016-03-19    0.038782
2016-04-03    0.040892
Name: date_crawled, dtype: float64

In [26]:
autos['ad_created'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2015-06-11    0.000057
2015-08-10    0.000057
2015-09-09    0.000057
2015-11-10    0.000057
2015-12-30    0.000057
2016-01-03    0.000057
2016-01-10    0.000057
2016-01-22    0.000057
2016-01-27    0.000114
2016-02-01    0.000057
2016-02-05    0.000057
2016-02-07    0.000057
2016-02-09    0.000057
2016-02-14    0.000057
2016-02-16    0.000057
2016-02-17    0.000057
2016-02-18    0.000057
2016-02-19    0.000114
2016-02-20    0.000057
2016-02-21    0.000114
2016-02-23    0.000228
2016-02-24    0.000057
2016-02-25    0.000171
2016-02-26    0.000057
2016-02-27    0.000114
2016-02-28    0.000342
2016-02-29    0.000228
2016-03-01    0.000057
2016-03-02    0.000171
2016-03-03    0.000798
                ...
2016-03-09    0.031881
2016-03-10    0.032109
2016-03-11    0.033364
2016-03-12    0.037869
2016-03-13    0.017794
2016-03-14    0.035417
2016-03-15    0.032166
2016-03-16    0.029600
2016-03-17    0.029429
2016-03-18    0.013802
2016-03-19    0.037242
2016-03-20    0.038326
2016-03-21    0.035816
2016-03-22    0.031653
2016-03-23    0.030626
2016-03-24    0.030056
2016-03-25    0.030740
2016-03-26    0.033649
2016-03-27    0.031425
2016-03-28    0.035360
2016-03-29    0.035930
2016-03-30    0.032679
2016-03-31    0.031938
2016-04-01    0.035531
2016-04-02    0.036272
2016-04-03    0.041006
2016-04-04    0.033535
2016-04-05    0.011406
2016-04-06    0.002566
2016-04-07    0.001711
Name: ad_created, Length: 65, dtype: float64

In [27]:
autos['ad_created'].str[:10].value_counts(normalize=True,dropna=False).sort_values()

2015-09-09    0.000057
2016-02-07    0.000057
2016-03-01    0.000057
2016-02-24    0.000057
2016-02-05    0.000057
2015-12-30    0.000057
2016-02-14    0.000057
2016-02-17    0.000057
2016-01-22    0.000057
2015-11-10    0.000057
2015-08-10    0.000057
2016-02-26    0.000057
2016-01-03    0.000057
2016-02-16    0.000057
2016-02-18    0.000057
2016-02-01    0.000057
2016-02-20    0.000057
2016-02-09    0.000057
2015-06-11    0.000057
2016-01-10    0.000057
2016-02-19    0.000114
2016-02-21    0.000114
2016-02-27    0.000114
2016-01-27    0.000114
2016-03-02    0.000171
2016-02-25    0.000171
2016-02-23    0.000228
2016-02-29    0.000228
2016-02-28    0.000342
2016-03-03    0.000798
                ...
2016-03-06    0.014429
2016-03-13    0.017794
2016-03-05    0.025493
2016-03-17    0.029429
2016-03-16    0.029600
2016-03-24    0.030056
2016-03-23    0.030626
2016-03-08    0.030740
2016-03-25    0.030740
2016-03-27    0.031425
2016-03-22    0.031653
2016-03-09    0.031881
2016-03-31    0.031938
2016-03-10    0.032109
2016-03-15    0.032166
2016-03-30    0.032679
2016-03-07    0.033364
2016-03-11    0.033364
2016-04-04    0.033535
2016-03-26    0.033649
2016-03-28    0.035360
2016-03-14    0.035417
2016-04-01    0.035531
2016-03-21    0.035816
2016-03-29    0.035930
2016-04-02    0.036272
2016-03-19    0.037242
2016-03-12    0.037869
2016-03-20    0.038326
2016-04-03    0.041006
Name: ad_created, Length: 65, dtype: float64

In [28]:
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001027
2016-03-06    0.003764
2016-03-07    0.004106
2016-03-08    0.005247
2016-03-09    0.007528
2016-03-10    0.009695
2016-03-11    0.009638
2016-03-12    0.021615
2016-03-13    0.007129
2016-03-14    0.010437
2016-03-15    0.014600
2016-03-16    0.013060
2016-03-17    0.023725
2016-03-18    0.007528
2016-03-19    0.013517
2016-03-20    0.018136
2016-03-21    0.017965
2016-03-22    0.019163
2016-03-23    0.016767
2016-03-24    0.017053
2016-03-25    0.017395
2016-03-26    0.015056
2016-03-27    0.014201
2016-03-28    0.018478
2016-03-29    0.021615
2016-03-30    0.022927
2016-03-31    0.021729
2016-04-01    0.022071
2016-04-02    0.024010
2016-04-03    0.024296
2016-04-04    0.022185
2016-04-05    0.137447
2016-04-06    0.246949
2016-04-07    0.149937
Name: last_seen, dtype: float64

In [29]:
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_values()

2016-03-05    0.001027
2016-03-06    0.003764
2016-03-07    0.004106
2016-03-08    0.005247
2016-03-13    0.007129
2016-03-18    0.007528
2016-03-09    0.007528
2016-03-11    0.009638
2016-03-10    0.009695
2016-03-14    0.010437
2016-03-16    0.013060
2016-03-19    0.013517
2016-03-27    0.014201
2016-03-15    0.014600
2016-03-26    0.015056
2016-03-23    0.016767
2016-03-24    0.017053
2016-03-25    0.017395
2016-03-21    0.017965
2016-03-20    0.018136
2016-03-28    0.018478
2016-03-22    0.019163
2016-03-29    0.021615
2016-03-12    0.021615
2016-03-31    0.021729
2016-04-01    0.022071
2016-04-04    0.022185
2016-03-30    0.022927
2016-03-17    0.023725
2016-04-02    0.024010
2016-04-03    0.024296
2016-04-05    0.137447
2016-04-07    0.149937
2016-04-06    0.246949
Name: last_seen, dtype: float64

In [30]:
autos.registration_year.describe()

count    17534.000000
mean      2010.066728
std        170.164680
min       1000.000000
25%       2002.000000
50%       2008.000000
75%       2011.000000
max       9999.000000
Name: registration_year, dtype: float64

The minimum and maximum of registration year do not make sense, since year 1000 is long before cars were invented, and year 9999 still has not happened yet. Therefore, the data will need to be further investigated and cleaned.

In [31]:
outside = (~autos['registration_year'].between(1900,2016)).sum()
outside
total = autos.shape[0]
outside = outside/total
outside

0.032907494011634536

Since the data outside of registration years 1990 - 2016 is only about 3 percent of the data, it should be safe to remove these rows without any significant consequences.

In [32]:
autos.brand.unique()

array(['volkswagen', 'smart', 'sonstige_autos', 'mini', 'bmw', 'seat',
       'audi', 'mercedes_benz', 'peugeot', 'opel', 'dacia', 'ford',
       'renault', 'toyota', 'mitsubishi', 'jaguar', 'mazda', 'nissan',
       'skoda', 'kia', 'fiat', 'chevrolet', 'porsche', 'volvo', 'hyundai',
       'chrysler', 'honda', 'citroen', 'trabant', 'jeep', 'subaru',
       'suzuki', 'daewoo', 'lada', 'rover', 'daihatsu', 'saab',
       'alfa_romeo', 'lancia', 'land_rover'], dtype=object)

In [33]:
brands = autos.brand.value_counts(normalize=True,dropna=True)
brands

volkswagen        0.182046
opel              0.099692
bmw               0.081385
ford              0.076024
mercedes_benz     0.075339
audi              0.067754
renault           0.046937
fiat              0.037584
peugeot           0.030341
smart             0.028687
skoda             0.023782
seat              0.022014
nissan            0.019904
sonstige_autos    0.019676
mini              0.018935
citroen           0.018878
toyota            0.018136
hyundai           0.016710
mazda             0.016425
chevrolet         0.010836
kia               0.010380
suzuki            0.010095
porsche           0.009695
honda             0.009068
mitsubishi        0.008156
alfa_romeo        0.005874
dacia             0.005760
volvo             0.004563
trabant           0.004049
daihatsu          0.003992
chrysler          0.002566
subaru            0.002224
daewoo            0.002224
land_rover        0.002167
jeep              0.002053
jaguar            0.001711
lada              0.001540
lancia            0.001483
rover             0.000913
saab              0.000399
Name: brand, dtype: float64

There are many brands in this dataset, but most of the brands do not have significant representation in this data. Therefore, I have made a list to use only the brands that are seen in at least 5 percent of the data.

In [34]:
top_brands = brands[brands > 0.05].index
top_brands

Index(['volkswagen', 'opel', 'bmw', 'ford', 'mercedes_benz', 'audi'], dtype='object')

In [35]:
brands_mean_price = {}
for brand in top_brands:
    top = autos[autos["brand"]==brand]
    mean_top = top['price'].mean()
    brands_mean_price[brand] = int(mean_top)
brands_mean_price

{'audi': 18069,
 'bmw': 14693,
 'ford': 5921,
 'mercedes_benz': 15414,
 'opel': 5063,
 'volkswagen': 9437}

The data shows that the average price for an Audi brand car is the highest price, and Opel brand is the lowest average price.

In [37]:
bmp_series = pd.Series(brands_mean_price)
mean_prices = pd.DataFrame(bmp_series, columns=['mean_price'])
mean_prices

               mean_price
audi                18069
bmw                 14693
ford                 5921
mercedes_benz       15414
opel                 5063
volkswagen           9437

In [38]:
brands_mean_mileage = {}
for brand in top_brands:
    top = autos[autos["brand"]==brand]
    mean_top = top['odometer_km'].mean()
    brands_mean_mileage[brand] = int(mean_top)
brands_mean_mileage

{'audi': 76734,
 'bmw': 83759,
 'ford': 82655,
 'mercedes_benz': 81760,
 'opel': 85326,
 'volkswagen': 79541}

In [39]:
bmm = pd.Series(brands_mean_mileage)
mean_mileage = pd.DataFrame(bmm, columns=['mean_km'])
mean_mileage

               mean_km
audi             76734
bmw              83759
ford             82655
mercedes_benz    81760
opel             85326
volkswagen       79541

The brand with the highest average mileage is opel, while the least is Audi.This makes sense because cars would be worth more, the less mileage is already on the car. Since Audi costs the most on average, it should also have the least avereage mileage. This relationship also exists for opel, the lowest priced cars on average.